.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#startBtn,
#stopBtn {
    margin-top: 10px;
    width: 100px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
}

#startBtn:hover,
#stopBtn:hover {
    background-color: #45a049;
}

#labyrinthe td {
    width: 10px;
}

#labyrinthe img {
    width: 35px;
    height: 35px;
}

#labyrinthe {
    background-color: #6B8E23;
}

.labyrinthe-container {
    margin-right: 20px;
}

.section-container {
    background-color: #9ACD32;
    border-radius: 5px;
}

section {
    background-color: #9ACD32;
    border-radius: 5px;
}

h1,
p {
    text-align: center;
}