.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#startBtn, #stopBtn, #resumeBtn, #pheromonesBtn{
    margin-top: 10px;
    width: 100px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
}

#startBtn {
    margin-left: -800px;
}

#stopBtn {
    margin-left: 20px;
}

#resumeBtn {
    margin-left: 20px;
}

#pheromonesBtn {
    margin-left: -800px;
    width: 348px;
}

#startBtn:hover,
#stopBtn:hover, #resumeBtn:hover, #pheromonesBtn:hover {
    background-color: yellowgreen;
}

#labyrinthe td {
    width: 10px;
}

#labyrinthe img {
    width: 35px;
    height: 35px;
}

#labyrinthe {
    background-color: #6B8E23;
}

.labyrinthe-container {
    margin-right: 20px;
}

.section-container {
    background-color: darkgray;
    border-radius: 5px;
}

section {
    background-color: #9ACD32;
    border-radius: 5px;
}

h1,
p {
    text-align: center;
}

#timer {
    font-size: 36px;
    text-align: center;
    padding: 5px 10px;
    margin-left: -1300px;
}

#canvas-container {
    position: relative;
}

#trees-canvas {
    position: absolute;
    top: 80px;
    left: -150px;
    background-color: #445600;
    border-radius: 10px;
}

#ant_image img {
    width: 350px;
    height: auto;
    margin-left: -800px;
}

#logo_labyrinthe img {
    width: 300px;
    height: auto;
    margin-left: -800px;
}

.banner-text {
    flex-grow: 1;
}

.banner-text h1, .banner-text p {
    margin: 0;
}

#StartGame {
    border-radius: 30px;
    padding: 10px; /* Ajoutez un peu de marge intérieure si nécessaire */
}



