<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>Projet Fourmis</title>
    <link href="../../ressources/css/style.css" rel="stylesheet">
      <script src="layers/TreeLayer.js"></script>
      <script src="layers/AntLayer.js"></script>
      <script src="layers/FoodLayer.js"></script>
      <script src="layers/PheromoneLayer.js"></script>
      <script src="../model/Cell.js"></script>
      <script src="../model/Model.js"></script>
      <script src="../model/Node.js"></script>
      <script src="../model/Fourmi.js"></script>
      <script src="../view/View.js"></script>
      <script defer src="../controller/Controller.js"></script>
  </head>

  <body>
      <section class="section-container">
              <div id="canvas-container">
                  <canvas id="ants-canvas"></canvas>
                  <canvas id="trees-canvas"></canvas>
                  <canvas id="foods-canvas"></canvas>
                  <canvas id="pheromones-canvas"></canvas>
              </div>

              <div id="StartGame">
                  <div>
                      <div id="timer">00:00</div>
                  </div>

                  <div id="ant_image">
                      <img src="../../ressources/images/Antgame.png">
                  </div>

                  <div id="buttons">
                      <div id="small_buttons">
                          <button type="button" id="startBtn"><img id="startStopButton" src="../../ressources/images/start.png"></button>
                          <button type="button" id="pheromonesBtn"><img id="pheromoneButton" src="../../ressources/images/pheromone.png"></button>
                      </div>

                  </div>
                  <table id="editableTable">
                      <tr>
                          <th>Paramètres de la simulation</th>
                          <th></th>
                      </tr>
                      <tr>
                          <td>Nombre de fourmis</td>
                          <td contenteditable="true">5</td>
                      </tr>
                      <tr>
                          <td>Nombre de nourritures</td>
                          <td contenteditable="true">5</td>
                      </tr>
                      <tr>
                          <td>Vitesse de la simulation</td>
                          <td contenteditable="true">12</td>
                      </tr>
                  </table>
              </div>
      </section>
  </body>
</html>
