<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>Projet Fourmis</title>
    <link href="../../ressources/css/style.css" rel="stylesheet">
    <script src="TreeLayer.js"></script>
    <script src="../model/Cell.js"></script>
    <script src="View.js"></script>
  </head>

  <body>
      <section class="container-fluid content section-container">
              <div id="canvas-container">
                  <canvas id="trees-canvas"></canvas>
                  <canvas id="ants-canvas"></canvas>
              </div>

              <div id="StartGame">
                  <div>
                      <div id="timer">00:00</div>
                  </div>

                  <div id="ant_image">
                      <img src="../../ressources/images/Antgame.png">
                  </div>

                  <div>
                      <button type="button" id="startBtn">Start</button>
                      <button type="button" id="stopBtn"  onclick="stopCounter()">Stop</button>
                      <button type="button" id="resumeBtn" onclick="resumeCounter()">Reprendre</button>
                  </div>

                  <div>
                      <button type="button" id="pheromonesBtn">Active phéromones</button>
                  </div>
              </div>
      </section>
  </body>
</html>
